<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About US</title>
    <link rel="stylesheet" href="newstyle.css">
    <link rel="stylesheet" href="ultility.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://unpkg.com/typeit@8.7.1/dist/index.umd.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!-- Font Awesome CDN -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

    <link
        href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <style>
        .body-part {
            margin-top: 6rem;
        }
    </style>
    <header>
        <div class="index">
            <span class="hambuger" onclick="toggleMenu();">
                <i class='fa fa-bars bars'></i>
                <i class='fa fa-times cross'></i>
            </span>

            <div class="navicon" onclick="window.location.href='/'">
                <img class="icon" src="./images/logo.png" alt="reloading...">
                <span class="sitename">RV <span class="s" style="color: #e32319;">FITNESS</span></span>
            </div>

            <div class="nav-item">
                <span class="menu">MENU</span>
                <a href="/"><span class="hamburger-nav"><i class='fa fa-home'></i></span>HOME</a>
                <a href="about.ejs"><span class="hamburger-nav"><i class='fas fa-user-friends'></i></span>ABOUT US</a>
                <a href="contact.ejs"><span class="hamburger-nav"><i class='fas fa-phone-volume'></i></span>CONTACT
                    US</a>
                <a href="privacy.ejs"><span class="hamburger-nav"><i class='fas fa-user-lock'></i></span>PRIVACY
                    POLICY</a>
                <div class="hamburger-footer">
                    <div class="ham-container">

                        <img class="icon" src="./images/logo.png" alt="reloading...">
                        <h2 class="main-title">RV <span class="color">FITNESS</span></h2>
                    </div><br>
                    <div class="hamburger-footer-details">
                        <p><span class="hambuger-span">Stay fit with RV Fitness! Explore personalized gym schedules to
                                help you lose
                                weight, build muscle, or stay in shape. Achieve your fitness goals and transform
                                your body. Start your journey today! </span> </p>
                    </div>

                    <div class="cotactbottom">
                        <ul type="square">
                            <li><a>+91 9330378959</a> </li>
                    </div>


                </div>
            </div>
            <div>
                <button id="getstarted">Get Started</button>
                <button class="button " id="dial">CALL NOW</button>
                <script>
                    document.getElementById('dial').addEventListener('click', function () {
                        window.location.href = "tel:+919330378959";
                    })
                </script>
            </div>
        </div>
    </header>

    <section class="body-part">
        <div class="about">
            <div class="part1">
                <h2 class="main-title">About <span class="color">Us</span></h2>
                <h1 class="welcome-title">WELCOME TO RV FITNESS</h1>
                <h3 class="color description-title">Hold me up, I'll make you strong as iron</h3>

                <p style="padding-bottom:20px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam enim,
                    voluptates aspernatur
                    suscipit, amet ea recusandae unde asperiores ab, possimus esse? Illo harum natus error doloremque,
                    nemo quidem iusto. Perferendis.</p>

                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0,0,256,256  "
                    style="display: none;">
                    <defs>
                        <symbol id="my-icon" viewBox="0 0 256 256">
                            <g fill="#f04343" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                                stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                                font-family="none" font-weight="none" font-size="none" text-anchor="none"
                                style="mix-blend-mode: normal">
                                <g transform="scale(9.84615,9.84615)">
                                    <path
                                        d="M13,1c-6.61719,0 -12,5.38281 -12,12c0,6.61719 5.38281,12 12,12c6.61719,0 12,-5.38281 12,-12c0,-6.61719 -5.38281,-12 -12,-12zM13,3c5.53516,0 10,4.46484 10,10c0,5.53516 -4.46484,10 -10,10c-5.53516,0 -10,-4.46484 -10,-10c0,-5.53516 4.46484,-10 10,-10zM17.1875,7.0625c-0.14844,0.02344 -0.27344,0.10156 -0.375,0.25l-4.90625,7.28125l-2.3125,-2.28125c-0.19922,-0.30078 -0.58203,-0.32422 -0.78125,-0.125l-0.90625,0.90625c-0.19922,0.30078 -0.19922,0.70703 0,0.90625l3.5,3.5c0.19922,0.10156 0.48047,0.3125 0.78125,0.3125c0.19922,0 0.51953,-0.10547 0.71875,-0.40625l6,-8.8125c0.19922,-0.30078 0.08594,-0.58203 -0.3125,-0.78125l-1,-0.71875c-0.10156,-0.05078 -0.25781,-0.05469 -0.40625,-0.03125z">
                                    </path>
                                </g>
                            </g>
                        </symbol>
                    </defs>
                </svg>
                <div class="about-svg">
                    <svg width="32" height="32">
                        <use href="#my-icon" />
                        <p>Certified Trainers</p>
                    </svg>
                </div>
                <div class="about-svg">
                    <svg width="32" height="32">
                        <use href="#my-icon" />
                        <p>LADIES GYM TRAINERS</p>
                    </svg>
                </div>
                <div class="about-svg">
                    <svg width="32" height="32">
                        <use href="#my-icon" />
                        <p>PROFESSIONAL TRAINING</p>
                    </svg>
                </div>
                <div class="about-svg">
                    <svg width="32" height="32">
                        <use href="#my-icon" />
                        <p>International Graded Equipments</p>
                    </svg>
                </div>


                <a href="contact.ejs" class="about-btn">
                    JOIN NOW
                </a>

            </div>
            <div class="part2">

                <div class="main-images">
                    <img src="./images/about1.jpg" alt="">
                </div>

                <div class="image-linear">

                    <div class="images">
                        <img src="./images/about2.jpg" alt="">
                        <img src="./images/about3.jpg" alt="">
                        <img src="./images/about4.jpg" alt="">
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section id="services">
        <div class="services">
            <div class="service-heading">
                <h2 class="main-title">RV FITNESS <span class="color">SERVICES</span></h2>
                <h3 class="description-title color margintd">Our Gym Features</h3>
            </div>
            <div class="allboxes">
                <div class="box">
                    <img src="./images/modern.png" alt="">
                    <a href="">Modern Equipment</a>
                </div>
                <div class="box">
                    <img src="./images/Cardio.png" alt="">
                    <a href="">Cardio</a>
                </div>
                <div class="box">
                    <img src="./images/hygienic.png" alt="">
                    <a href="">Hygienic Space</a>
                </div>
                <div class="box">
                    <img src="./images/yoga.png" alt="" class="inverted">
                    <a href="">Yoga</a>
                </div>
                <div class="box">
                    <img src="./images/Group.png" alt="">
                    <a href="">Group Classes</a>
                </div>
                <div class="box">
                    <img src="./images/Nutrition.png" alt="">
                    <a href="">Nutrition</a>
                </div>
                <div class="box">
                    <img src="./images/Targeted.png" alt="">
                    <a href="">Targeted Programs</a>
                </div>
                <div class="box">
                    <img src="./images/CrossFit.png" alt="">
                    <a href="">CrossFit</a>
                </div>
                <div class="box">
                    <img src="./images/Premium.png" alt="">
                    <a href="">Premium Facilities</a>
                </div>
            </div>
            <h3 class="subtitles color">BEST TRAINING</h3>

            <div class="Service-provide">
                <div class="imgcontainer">
                    <img src="./images/image1.jpg" alt="">
                    <p>GYM TRAINING</p>
                </div>
                <div class="imgcontainer">
                    <img src="./images/about1.jpg" alt="">
                    <p>WEIGHT LIFTING TRAININGS</p>
                </div>
                <div class="imgcontainer">
                    <img src="./images/about2.jpg" alt="">
                    <p>LADIES GYM TRAINERS</p>
                </div>
                <div class="imgcontainer">
                    <img src="./images/image1.jpg" alt="">
                    <p>PROFESSIONAL TRAINING</p>
                </div>
                <div class="imgcontainer">
                    <img src="./images/about3.jpg" alt="">
                    <p>WORKOUT</p>
                </div>
                <div class="imgcontainer">
                    <img src="./images/about4.jpg" alt="">
                    <p>SPECIFIC GYM TRAININGS</p>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="underfooter">
            <div class="bNavicon">
                <div class="bNcontainer">

                    <img class="icon" src="./images/logo.png" alt="reloading...">
                    <h2 class="main-title">RV <span class="color">FITNESS</span></h2>
                </div><br>


                <p><span>Stay fit with TimetoSweat! Our website offers a comprehensive gym workout schedule to help you
                        achieve your fitness goals. Whether you're looking to lose weight, build muscle, or simply stay
                        in shape, we've got you covered. Get ready to sweat and transform your body. Start your fitness
                        journey today!</span> </p>
            </div>

            <div class="bottonNav">
                <div class="aboutbottom">
                    <span>ABOUT US</span>
                    <ul type="square">
                        <li><a href="about.ejs">RV Fitness Club</a></li>
                </div>
                <div class="terms">
                    <span>TERMS</span>
                    <ul type="square">
                        <li><a href="privacy.ejs">Terms and condition</a></li>
                </div>
                <div class="cotactbottom">
                    <span>CONTACT</span>
                    <ul type="square">
                        <li><a>+91 9330378959</a> </li>
                </div>
            </div>

        </div>
        <div class="copyrightfooter">
            <p><br><br>Copyrights © 2023 Rv Fitness World. All rights reserved.
                Rv Fitness Team is Powered by KingShuk❤️.</p>
        </div>
        <script src="index.js"></script>
    </footer>

</body>

</html>