<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create user</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap" rel="stylesheet">
</head>

<body>
    <h1 class="heading">Welcome To <span style="color: #e32219;">RV FITNESS WORLD</span></h1>
    <div class="bodypart">
        <div class="Signup">
            <div class="side1">
                <h1>Create Your Account</h1>
                <form action="/create" method="post">
                    <input class="" type="text" name="username" placeholder="username">
                    <input class="" type="text" name="email" placeholder="email">
                    <input class="" type="password" name="password" placeholder="password">
                    <input class="" type="submit" value="signup">
                    <p>Part of family? <a href="/login">Login</a></p>
                </form>

            </div>
            <div class="side2">
                <img src="/photos/login-page.jpg" alt="Login Page Image">
            </div>
        </div>
    </div>
    <h1 class="thanks">SHUKRIYA❤️</span></h1>

    <script src="app.js"></script>
</body>

</html>