<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review and Feedback</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>

</head>

<body>
    <div class="feedback">
        <h3>Lorem ipsum dolor sit amet.</h3>
        <form action="#">
            <div class="rating">
                <input type="number" name="rating" hidden>
                <i class='fa fa-star-o'></i>
                <i class='fa fa-star-o'></i>
                <i class='fa fa-star-o'></i>
                <i class='fa fa-star-o'></i>
                <i class='fa fa-star-o'></i>
            </div>
            <textarea name="opinion" cols="30" rows="5" placeholder="Your Opinion..."></textarea>
        </form>
    </div>
    <div class="btn-group">

        <button type="submit" class="btn submit"></button>
        <button class="btn cancel">Cancel</button>
    </div>
    <script src="script.js"></script>
</body>

</html>