<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thankyou-Feedback</title>
    <link rel="stylesheet" href="newstyle.css">
    <link rel="stylesheet" href="ultility.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://unpkg.com/typeit@8.7.1/dist/index.umd.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!-- Font Awesome CDN -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

    <link
        href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

</head>

<body>
    <header>
        <div class="index">
            <span class="hambuger" onclick="toggleMenu();">
                <i class='fa fa-bars bars'></i>
                <i class='fa fa-times cross'></i>
            </span>

            <div class="navicon" onclick="window.location.href='/'">
                <img class="icon" src="./images/logo.png" alt="reloading...">
                <span class="sitename">RV <span class="s" style="color: #e32319;">FITNESS</span></span>
            </div>

            <div class="nav-item">
                <span class="menu">MENU</span>
                <a href="/"><span class="hamburger-nav"><i class='fa fa-home'></i></span>HOME</a>
                <a href="about.ejs"><span class="hamburger-nav"><i class='fas fa-user-friends'></i></span>ABOUT US</a>
                <a href="contact.ejs"><span class="hamburger-nav"><i class='fas fa-phone-volume'></i></span>CONTACT
                    US</a>
                <a href="privacy.ejs"><span class="hamburger-nav"><i class='fas fa-user-lock'></i></span>PRIVACY
                    POLICY</a>
                <div class="hamburger-footer">
                    <div class="ham-container">

                        <img class="icon" src="./images/logo.png" alt="reloading...">
                        <h2 class="main-title">RV <span class="color">FITNESS</span></h2>
                    </div><br>
                    <div class="hamburger-footer-details">
                        <p><span class="hambuger-span">Stay fit with RV Fitness! Explore personalized gym schedules to
                                help you lose
                                weight, build muscle, or stay in shape. Achieve your fitness goals and transform
                                your body. Start your journey today! </span> </p>
                    </div>

                    <div class="cotactbottom">
                        <ul type="square">
                            <li><a>+91 9330378959</a> </li>
                    </div>


                </div>
            </div>
            <div>
                <button class="button " id="dial">CALL NOW</button>
                <script>
                    document.getElementById('dial').addEventListener('click', function () {
                        window.location.href = "tel:+919330378959";
                    })
                </script>
            </div>
        </div>
    </header>
    <div class="thankyou-container">
        <div class="background-cover">
            <div class="thankyou-details">
                <h5>RV FITNESS CLUB</h5>
                <H1><span class="color">Thank</span> you for reaching <span class="color">out</span> to us!</H1>
                <img src="images/thankyou.png" alt="">
                <h5>we got your message out team is on it! expect to hear back from one of our team members very soon!
                </h5>
            </div>

        </div>
    </div>

    <footer>

        <div class="copyrightfooter">
            <p><br><br>Copyrights © 2023 Rv Fitness World. All rights reserved.
                Rv Fitness Team is Powered by KingShuk❤️.</p>
        </div>
        <script src="index.js"></script>
    </footer>

</body>

</html>