.margin1 {
    margin: 20px 100px;
}

.margintd {
    margin-top: 10px;
    margin-bottom: 45px;
}

.border {
    border: 2px solid rgb(255, 230, 0);
}

.red {
    border: 2px solid red;
}

.green {
    border: 2px solid rgb(51, 255, 0);
}

.pad1 {
    padding: 6px 0;
}

.inverted {
    filter: saturate(3) contrast(1.2);
    text-shadow: 2px 2px 2px #000;
}
